.home {
  background-image: url("http://res.cloudinary.com/doodlid/image/upload/v1522066704/co-alumni/vecto-map.png");
  background-size: cover;
  background-position: center center;
  height: calc(100vh - 70px);
  svg {
    height: 45px;
  }
}
