<div class="double-padding-box dashboard">
  <div class="container">
    <div class="row">

        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <h2>Creation d'une nouvelle mission</h2>

          <%= render 'form', url: supervisor_missions_path %>
        </div>
      </div>

    </div>
  </div>
</div>


